p  { 
	font-weight: bold; 
	font-size: 2em; 
}

h1{ 
	font-weight: bold; 
}

body { 
	margin-left: 5%; 
}

#submitButton { 
	text-align: center;
	margin-left: -10%;
	background: #800000;

} 

.form-control{ 
	width: 50%; 
	background: #87CEFA;
	color: #FFFFFF;
}


